apiVersion: v1
kind: PersistentVolume
metadata:
  name: todo-db-pv
  namespace: todo-app
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/todo-db"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: todo-db-pvc
  namespace: todo-app
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi